{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title aos-init aos-animate" data-aos="fade-up">
        <h2>Личная страница</h2>
        <p>Акаунт был создан {{user.user_profile.created}}</p>
    </div><!-- End Section Title -->

    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
            <div class="col-lg-4">
                {% if user_data.photo %}
                    <img src="{{ user_data.photo.url }}" class="img-fluid" alt="" width="300" height="300">
                {% else %}
                    <img src="{% static 'default.jpg' %}" class="img-fluid" alt="" width="300" height="300">
                {% endif %}
            </div>
            <div class="col-lg-8 content">
                <h2>{{ user_data.name }} {{ user_data.second_name }} {{ user_data.middle_name }}</h2>
                <p class="fst-italic py-3">
                    {% if records.last %}
                    Последняя запись к врачу была {{ records.last.appointment_time }}
                    {% else %}
                    Записей к врачу пока не было
                    {% endif %}
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Дата рождения:</strong> <span>{{ user_data.birthday }}</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>E-mail:</strong>
                                <span>{{ user.email }}</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Login:</strong>
                                <span>{{ user.username }}</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Город:</strong> <span>{{ user_data.address.city }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Возраст:</strong> <span>{{ age }}</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Кто вы:</strong> <span>Пациент</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Адрес:</strong> <span>{{ user_data.address }}</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Последняя запись:</strong> <span>{{ story.last.description }}</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <p class="py-3">
                    Будьте здоровы!
                </p>
            </div>
            <div class="col-md-3 text-end mb-3">
                <a href="{% url 'first_create' %}" class="btn btn-outline-primary me-2">Изменить данные</a>
            </div>
            <div class="col-md-3 text-end mb-3">
                <a href="{% url 'first_create' %}" class="btn btn-outline-primary me-2">Изменить адрес</a>
            </div>
        </div>

    </div>

</section>
{% endblock %}