{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title aos-init aos-animate" data-aos="fade-up">
        {% if user.is_staff %}
        <h2>Личная страница врача</h2>
        {% else %}
        <h2>Личная страница пациента</h2>
        {% endif %}
        <p>Акаунт был создан {{user_data.created}}</p>
    </div><!-- End Section Title -->

    <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
            <div class="col-lg-4">
                {% if user_data.photo %}
                <img src="{{ user_data.photo.url }}" class="img-fluid" alt="" width="360" height="360">
                {% else %}
                <img src="{% static 'default.jpg' %}" class="img-fluid" alt="" width="360" height="360">
                {% endif %}
            </div>
            <div class="col-lg-8 content">
                <h2>{{ user_data.name }} {{ user_data.second_name }} {{ user_data.middle_name }}</h2>
                <p class="fst-italic py-3">
                        {% if records.last %}
                            Последняя запись была: {{ records.last.appointment_time }}
                        {% else %}
                            Записей пока не было
                        {% endif %}
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Дата рождения:</strong> <span>{{ user_data.birthday }}</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>E-mail:</strong>
                                <span>{{ user.email }}</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Login:</strong>
                                <span>{{ user.username }}</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Кол-во посещений:</strong> <span>{{ records_count }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Возраст:</strong> <span>{{ age }}</span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Вы:</strong> <span>
                                {% if user.is_staff %}
                                    {% if user_data.position %}
                                        Врач по специальности: {{ user_data.position }}
                                    {% else %}
                                        Врач без определённый специальности
                                    {% endif %}
                                {% else %}
                                    Пациент
                                {% endif %}
                            </span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Адрес:</strong> <span>
                                {% if address.country is None %}
                                <a href="{% url 'edit_address' slug=user_data.slug %}">Заполнить адрес</a>
                                {% else %}
                                {{ user_data.address }}
                                {% endif %}
                            </span>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Последняя запись:</strong>
                                <span> {% if records.last %}
                                        {{ records.last.appointment_time }}
                                        {% else %}
                                        Записей пока не было
                                        {% endif %}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <p class="py-3">
                    Будьте здоровы!
                </p>
                <div class="row py-3">
    <div class="col-lg-6">
        <a href="{% url 'edit_data' slug=user_data.slug %}" class="btn btn-outline-primary w-100">Изменить данные</a>
    </div>
    <div class="col-lg-6">
        <a href="{% url 'edit_address' slug=user_data.slug %}" class="btn btn-outline-primary w-100">Изменить адрес</a>
    </div>
</div>

        </div>

    </div>

</section>
{% endblock %}