{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="text-center">
<main class="form-signin w-100 m-auto mt-5 mb-5 py-5" style="max-width: 400px;">
    <form method="post">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'icons/logo.svg' %}" alt="Logo" width="200" height="57">
        <h1 class="h3 mb-3 fw-normal">Подтверждение удаления записи</h1>

        <div class="alert alert-info" role="alert">
            Вы уверены, что хотите удалить эту запись? Это действие необратимо.
        </div>

        <p><strong>Имя пациента:</strong> {{ record.patient.name }}</p>
        <p><strong>Врач:</strong> {{ record.doctor.name }}</p>
        <p><strong>Дата и время приёма:</strong> {{ record.appointment_date }}</p>

        <!-- Кнопка подтверждения удаления -->
        <button class="w-100 btn btn-lg btn-outline-primary" type="submit">Удалить</button>

        <!-- Кнопка отмены, возвращающая на предыдущую страницу -->
        <a class="w-100 btn btn-lg btn-primary mt-3" href="{% url 'check_records' %}">Отмена</a>

        <p class="mt-5 mb-3 text-muted">© 2024</p>
    </form>
</main>
</body>
{% endblock %}