{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-5">
   <ul class="list-group">
       {% if records %}
       {% for record in records %}
       <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                {% if record.patient.photo %}
                <img src="{{ record.patient.photo.url }}" alt="avatar" class="rounded-circle me-3" style="width: 40px; height: 40px;">
                {% else %}
                <img src="{% static 'default.jpg' %}" alt="avatar" class="rounded-circle me-3" style="width: 40px; height: 40px;">
                {% endif %}
                <div>
                    К вам записан <strong style="color: #007bff;">&thinsp;{{ record.patient.name }} {{ record.patient.second_name }} {{ record.patient.middle_name }}&thinsp;</strong>
                    с жалобами на {{ record.description_patient|truncatechars:20 }}
                </div>
            </div>
            <!-- Блок действий и даты записи -->
            <div class="d-flex align-items-center">
                <span class="me-3 text-muted">{{ record.appointment_date }}</span>
                <span class="me-3 text-muted">Статус: {{ record.get_status_display }}</span>
                <a href="{% url 'update_rec_doctor' pk=record.pk %}" class="badge bg-primary rounded-pill text-decoration-none me-2">Изменить статус</a>
            </div>
        </li>
       {% endfor %}
       {% else %}
       <h3 align="center">В данный момент у вас нет записей</h3>
       <div class="d-flex justify-content-center mt-5">
            <img src="{% static 'icons/smile.svg' %}" alt="Logo" width="120" height="120">
       </div>
       {% endif %}
   </ul>
</div>
{% endblock %}